:root {
  /*--pink: #666;
  --white: white;
  --qr: url("../img/QRCode_black.png")
  --pastille: #999;
  --gold : white;*/
  --pink: #AA3C5E;
  --white: whitesmoke;
  --qr: url("../img/QRCode.png");
  --pastille: #FEBFD2;
  --button: #FD6C9E;
  --gold : gold;
}

html{
  font-size:0.9em;
  width:210mm;
  margin-left:auto;
  margin-right:auto;
  overflow-x:auto;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #222;
}
header{
  float: left;
}
main{
  background-color: var(--white);
  width:100%;
  height:1119.2px;
  position:relative;
}
i{
  vertical-align: sub;
  color: var(--pink);
}
h5{
  margin-top: 0;
  color: var(--pink);
  font-size: light;
}
h6{
  line-height: 110% !important;
}
h6,h7{
  color: var(--pink);
  margin-top: 5px;
  margin-bottom: 1px;
}
li>h6{
  margin-left: 5px;
  background-color: var(--white);
  font-weight: bold;
}
h7{
  margin-top: 0px;
  line-height: 2px;
  margin-left: 20px;
  font-size: 1.05rem
}
hr{
  color: var(--pink);
  margin-top: 5px;
  margin-bottom: 0;
}

ul.tasks>li{
  margin-left: 20px;
  list-style-type: circle;
  color: var(--pink);
}

.vertical-bar{
  width: 6px;
  position: absolute;
  margin-left: 10px;
  height: 0px;
  background-color: var(--pink);
  z-index: 0;
}

.sidenav{
  left: unset!important;
  background-color: var(--white);
}
.container{
  padding-left: 320px;
  width:793.7px;
  background-color: var(--white);
  height:100%;
  top:0;
  position:absolute;
}

.contact-icon{
  background-color: var(--pink) !important;
  color: var(--white);
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 5px;
  margin-right: 5px;
  font-size: 20px !important;
}
.icons{
  display: inline-block;
  width: 28px;
  /*background-color: var(--white) !important;*/
  padding: 0 5px 0 0;
  mask-size: cover;
}
.icon-sewing{
  mask: url("img/sewing_machine.svg");
}
.skills{
  background-color: var(--white) !important;
  color: var(--pink);
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin-right: 5px;
  font-size: 20px;
  padding-bottom: 0;
  padding-top: 3px;
}
.skills>li{
  line-height: 28px;
}
.inverted{
  background-color: var(--pink);
  color: var(--white) !important;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
}
.langs>a{
  color: var(--pink);
}
.icon-block{
  margin-top: -8px;
}
.flag{
  height: 30px;
  margin-left: 20px;
  vertical-align: bottom;
  font-size: 30px;
  line-height: 30px;
}
.centerize{
  margin-left: 25%;
  margin-bottom: 0;
  color:var(--white);
  margin-top: 5px;
}
.row{
  margin-bottom: 0;
}
.reseau{
  line-height: 18px;
  margin-top: 2px;
  text-align: center;
}
.tissu{
  line-height: 18px;
  text-align: center;
  margin-top: 20px;
}
.res{
  background-color: var(--pink);
  border-radius: 0px 30px 0px 30px !important;
  -moz-border-radius: 0px 30px 0px 30px !important;
  -webkit-border-radius: 0px 30px 0px 30px !important;
  border: 6px solid var(--white);
  color:var(--white);
}
.desc{
  width: 320px;
  top: 0;
  margin: 0;
  height: calc(100% + 60px);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateX(0);
  position: absolute;
  left:unset;
  border: 10px solid transparent;
  border-image: url("../img/Stitch.png") 50 round;
  border-width:0 10px 0 0;
/*  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);*/
  background-color: var(--white);
  overflow: hidden;
  height:1119.2px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    max-width: 1200px;
    margin: 0 0;
}

/* The actual timeline (the vertical ruler) */
/*.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--pink);
    left: 310px;
    height:auto;
    margin-top: -2px;
    margin-left: 0px;
}*/

/* Container around content */
.conteneur {
    padding: 10px 20px 0px 20px;
    position: relative;
    background-color: inherit;
    width: 100%;
}

/* The circles on the timeline */
.conteneur::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--white);
    border: 4px solid var(--pink);
    top: 10px;
    border-radius: 50%;
    z-index: 1;
}
.right {
    left: 18px;
}
.right::after {
    left: -16px;
}
.contenu {
    padding: 0px 0px;
    background-color: var(--white);
    position: relative;
    border-radius: 6px;
}
.contenu>a,li>a{
  color: var(--pink);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0;
  height: auto;
  hyphens: auto;
}
.contenu>a{
  margin-left: 5px;
}
.contenu > a:nth-child(0n+3) {
  margin-left: 0px;
}
.contenu>a>br{
  content: "";
  margin: 0;
  display: block;
  line-height: 1px;
}
.contenu>h6{
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.bar{
    background-color: var(--white) !important;
    border-radius: 4px;
    width:100%;
    padding-top: 5px;
}

.progress-bar{
    background-color: var(--pink) !important;
    color: var(--white) !important;
    padding: 0 20px;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contact-icon{
    display: inline-block;
    margin-bottom: 1px;
}
.contact-value{
    display: inline-block;
    color: var(--pink) !important;
}
.date{
  font-weight: bold;
  font-size:13px !important;
}
.sub-buttons{
  text-align: center;
  line-height: 43px;
  margin-bottom: 5px;
  padding-left: 7px !important;
  padding-right: 7px;
}
.btn-floating{
	background-color: var(--pink);
}
.btn-floating>i{
  color: var(--gold) !important;
}
.btn-floating:hover{
	color: var(--white);
}
.star{
  color: var(--gold);
}
.bigstar{
  position: fixed;
  margin-top: 3px;
}
.smallstar{
  font-size: xx-small;
}
#buttons{
    float: right;
    display: block;
    position: fixed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    bottom: 30px;
    right: 30px;
    z-index: 10000;
}
#punchline{
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 2px;
  text-align: center;
}
#bigsep{
  border: none;
  height: 3px;
  color: var(--pink); /* old IE */
  background-color: var(--pink); /* Modern Browsers */
  margin: 0;
}
#name{
  font-size: 25px;
  margin: auto;
  width:100%;
  text-align: center;
  /**margin-bottom: 20px;*/
}

#head{
  background-color: var(--pink);
  padding-left: 10px;
  text-align: center;
  /**font-size: 22px;*/
  border-image: url("../img/Stitch_white.png") 50 round !important;
  border: 10px solid whitesmoke;
  border-top-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-width: 10px 0px;
}
#title, #ask{
  margin: 0px 0;
  line-height: 30px;
  font-size: 19px !important;
  color: var(--white);
}
#contact>li{
  margin: 0px 0;
}
#logo{
  margin-top: 15px;
}
#logo>img{
  margin: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
#QR{
  margin: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:135px;
  background-size:cover;
  background-image: var(--qr);
  background-repeat: no-repeat;
  height: 135px; /*or your image's height*/
  padding: 0;
}
#pastille::after{
  background-color: var(--pastille);
}
@media print{
   #buttons{
       display:none;
   }
   body{
       background-color: var(--white);
   }
}
@page{
    margin: 0cm;
}
